@import url('https://fonts.googleapis.com/css?family=Almendra');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
* {
    font-family: 'Open Sans Condensed', sans;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


/*Ustawienia nagłówka*/

header {
    text-align: center;
    padding: 2em;
    background: linear-gradient(to bottom, rgba(242, 245, 246, 1) 0%, rgba(227, 234, 237, 1) 37%, rgba(200, 215, 220, 1) 100%);
}

header img {
    box-shadow: 10px 10px 5px #222222;
    transform: rotate(10deg);
    border-radius: 1em;
    border: solid 1px #000;
    ;
}

header h1 {
    margin: 1em auto 0;
    width: 50%;
    font-family: 'Almendra', serif;
}


/*Ustawienia układu strony*/

section {
    display: grid;
    grid-template-areas: 'header header header header header header header header header header' 'aside main main main main main main main main main' 'footer footer footer footer footer footer footer footer footer footer';
    grid-gap: 0;
    padding: 0;
}

header {
    grid-area: header;
}

article {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}


/* Ustawienia dla tekstu*/

article {
    line-height: 1.2em;
    text-align: justify;
    padding: 1em;
    column-width: 400px;
    background: #fff;
}

article img {
    width: 150px;
    margin: 1ex 1em;
}

article .pulledquotes {
    font-family: 'Almendra', serif;
    color: red;
    font-size: 2em;
    display: block;
    padding: .5em;
    margin: .5em;
    line-height: 1.2em;
    max-width: 150px;
}


/*Ustawienia bocznej kolumny*/

aside {
    background: #eee;
}

aside img {
    max-height: 200px;
    max-width: 200px;
}

figcaption {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

figcaption::before {
    content: "Opis: ";
}


/*Ustawienia stopki*/

footer {
    text-align: center;
    color: #fff;
    background: #222;
    padding: 2em;
    font-size: .9em;
    line-height: 1.5em;
}

footer a {
    color: #eee;
    border-bottom: 1px dotted #eee;
}


/*pomocnicze*/

.fl {
    float: left
}

.fr {
    float: right
}

.c {
    clear: both;
}

@media (max-width:800px) {
    section {
        display: grid;
        grid-template-areas: 'header' 'main' 'aside' 'footer';
        grid-gap: 0;
        padding: 0;
    }
}