<% include partials/naglowek.ejs %>
<h1 class='display-3 text-center mb-4'>Dodaj notatkę</h1>
<form action="" method="post"  class='container-fluid'>
    <div class="form-row">
        <div class="form-group col">
            <input type="text" class="form-control" name="tytul" id="tytul" placeholder="Wpisz tytuł notatki" required>
        </div>
        <div class="form-group col">
            <select id="kolor" name="kolor" class="form-control" required>
                        <option selected disabled>Wybierz kolor notatki</option>
                        <option value='FFFFA5' style='background:#FFFFA5;color:#000'>Jasnozolta</option>
                        <option value='ff7eb9' style='background:#ff7eb9;color:#000'>Jasnorozowa</option>
                        <option value='ADD8E6' style='background:#ADD8E6;color:#000'>Jasnoniebieska</option>
                    </select>
        </div>
    </div>
    <div class='form-row'>
        <div class='col'>
            <textarea name="tresc" class='tinymce col' id="tresc" rows="40"></textarea>
        </div>
    </div>

    <div class='form-row mt-3'>
        <div class='col'>
    <button type="submit" class="btn btn-primary">Dodaj notatkę</button>
    <button type="reset" class="btn btn-primary">Wyczyść dane</button>
    <a class="btn btn-secondary" href="/">Anuluj</a>
</div>
</div>
</form>
<% include partials/stopka.ejs %>
