<% include partials/naglowek.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>
    <h1 class='display-3 text-center mb-4'>Zmień notatkę</h1>
    <% if (notatka) { %>
        <form action="" method="post" class='container-fluid'>
            <div class="form-row">
                <div class="form-group col">
                    <input type="text" class="form-control" name="tytul" id="tytul" value="<%= notatka.tytul %>"placeholder="Wpisz tytuł notatki" required>
                </div>
                <div class="form-group col">
                    <select id="kolor" name="kolor" class="form-control" required>
                                <option disabled>Wybierz kolor notatki</option>
                                <option value='FFFFA5' style='background:#FFFFA5;color:#000' <% if ( notatka.kolor === "FFFFA5") { %> selected<% } %> >Jasnozolta</option>
                                <option value='ff7eb9' style='background:#ff7eb9;color:#000' <% if ( notatka.kolor === "ff7eb9") { %> selected<% } %>>Jasnorozowa</option>
                                <option value='ADD8E6' style='background:#ADD8E6;color:#000' <% if ( notatka.kolor === "ADD8E6") { %> selected<% } %>>Jasnoniebieska</option>
                            </select>
                </div>
            </div>
            <div class='form-row'>
                <div class='col'>
                    <textarea name="tresc" class='tinymce col' id="tresc" rows="40"><%= notatka.tresc %></textarea>
                </div>
            </div>
        
            <div class='form-row mt-3'>
                <div class='col'>
            <button type="submit" class="btn btn-primary">Zmień notatkę</button>
            <button type="reset" class="btn btn-primary">Wyczyść dane</button>
            <a class="btn btn-secondary" href="/">Anuluj</a>
        </div>
        </div>
        </form>
    <% } else { %>
        <p class="text-center">Nie znaleziono takiej notatki <a href="/dodaj">Dodaj</a> nową notatkę.</p>
    <% } %>
</div>
</div>
</body>
</html>