<% include partials/naglowek.ejs %>
    <h1 class='display-3 text-center mb-4'>Zapisane notatki</h1>
    <div class='container-fluid'>
        <div class='row  mx-auto'>
            <% if (notatka.length > 0) {%>


                <% notatka.forEach((nota, index) => { %>
                    <section class='card m-3 pl-0 pt-0 pr-2 pb-2 col-lg-2' <% if (nota.kolor.length> 0 ) { %> style='background: #<%= nota.kolor %>;'
                            <% } %>
                                >
                                <h2 class='display-4 '>
                                    <a class='text-secondary pl-1' href="/zmien/<%= nota.nr %>">
                                        <%= nota.tytul %>

                                    </a>
                                    <a class="far fa-trash-alt text-secondary" href="/usun/<%= nota.nr %>"></a>
                                </h2>
                                <div class="container-fluid">
                                    <div class='row font-italic border-top border-bottom border-dark' style="font-size:80%;">
                                        <div class='col'>
                                            <time><span>Data dodania: <%= nota.dataDodania %></span></time>
                                        </div>
                                        <div class='col'><time><span class='font-weight-lighter'>Ostatnio zmodyfikowano: <%= nota.dataModyfikacji %></span></time></div>
                                        </div>
                                </div>
                                <div class='card-body rounded'>
                                    <article>
                                        <%- nota.tresc %>
                                    </article>
                                </div>
                    </section>
                    <% }) %>
                        <% } %>
                            <section id='nowaNotatka' class='card  d-flex align-items-center m-3 pl-0 pt-0 pr-2 pb-2 col-lg-2 justify-content-center'>

                                <a href="/dodaj" title="Dodaj notatkę" style='font-size:6em' class="fas fa-plus text-dark p-5"></a>

                            </section>
        </div>
    </div>

    <!----->
    <% include partials/stopka.ejs %>