
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Do zadania*/
html{background:#888;}
#page{width:70%;margin:0 auto;display:block;background:#eee;height:100%;}

header {background-color:#f4dc42;}

header img {width:80%;margin: 0 auto;display:block;border:solid 10px #eee}

article h1 {font-size:3em;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500;text-align: center;color:#fff;text-shadow:0px .1em 10px #000;position:relative;bottom:100px;height:0;}

article img {width:30%;height:30%;display:none;} 
article h2 {font-size:2em;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin:1em 0;padding-left:10px; text-decoration: underline;border-bottom:1px dashed #000}

article section {display:block;width:90%;margin:1em auto;padding:1em;border-bottom:3px solid #f4dc42;text-align: justify}

article section p {padding:1em; background: #afafaf;margin: .5em 2em .5em 3em;border:dotted 1px #333;}

article section p::after {clear:both;content:".";height:0;display:block;}

article section:last-child {border:0;}

article section a {color:blue}
article section a:hover {color:red;}
footer {background:#f4dc42;padding:2em;text-align: center;}
/*szerokosc*/
/*oplywania*/
.fl{float:left;}
.fr{float:right;}
.c{clear:both}