<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TIN - 5c - s14231, podpunkt b</title>
    <style>
        * {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        }
        
        div {
            border: 1px solid black;
            margin: 2em;
            padding: 0 1em 1em 1em;
            max-width: 800px;
        }
        
        h1 {
            background: black;
            padding: 1em;
            color: white;
            margin: 0;
        }
        
        h2 {
            line-height: 110%;
            display: block;
            background: #ddd;
            margin: .2em 0 .2em 1em;
            list-style-type: none;
            padding: .5em;
            border-bottom: 3px solid #aaa;
            border-left: 10px solid #aaa;
        }
        
        p {
            font-weight: 600;
            margin-left: 3em;
        }
    </style>
</head>

<body>
    <div>
        <h1>Dane otrzymane z formularza</h1>
        <h2>Twoj login:</h2>
        <p>
            <%= login %>
        </p>
        <h2>Twoj nr indeksu:</h2>
        <p>
            <%= nrIndeksu %>
        </p>
        <h2>Twoj e-mail:</h2>
        <p>
            <%= email %>
        </p>
    </div>
</body>

</html>