<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src='/js/tinymce/tinymce.min.js'></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
    <script>
        tinymce.init({
            selector: '.tinymce',
            height: 500,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor textcolor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help'
        });
    </script>
    <title>
        <%= title %>
    </title>

</head>
<style>
    html {
        font-size: 1rem;
    }
    
    @include media-breakpoint-up(sm) {
        html {
            font-size: 1.2rem;
        }
    }
    
    @include media-breakpoint-up(md) {
        html {
            font-size: 1.4rem;
        }
    }
    
    @include media-breakpoint-up(lg) {
        html {
            font-size: 1.6rem;
        }
    }
    
    header+* {
        margin-top: 70px;
    }
    
    .card {
        background: #ffff88;
    }
    
    #nowaNotatka>* {
        text-decoration: none;
    }
</style>

<body>
    <div class="page-wrapper mb-4">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark text-white">
                <span class="navbar-brand "><a href="/">Prosty notatnik</a></span>

            </nav>
        </header>