</div>
<div class='row '' style='margin-bottom:50px;'> </div>
<footer class='footer bg-dark fixed-bottom'>
    <div class='container text-light text-center p-4'>Copyright 2019 Tomasz Jankowski</div>
</footer>
</body>

</html>